body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-bar-login {
  background-color: #4eb94b;
  width: 100%;
  height: 50px;
  box-shadow: 0 0 5px #000;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 1.8em;
  margin-left: 50px;
}

.form {
  text-align: center;
  margin-top: 3%;
  display: block;
  /* width: 30%; */
  margin-left: auto;
  margin-right: auto;
}

.loginTitle {
  color: #494949;
  margin-bottom: 2%;
}

.input {
  /* width: 19%; */
  border: none;
  border-bottom: solid;
  border-color: #4eb94b;
  outline: none;
  margin-bottom: 0.8%;
  padding-left: 10px;
  padding-right: 90px;
}

.login-submit {
  background-color: #4eb94b;
  /* width: 7%; */
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
  outline: none;
  padding-right: 20px;
  padding-left: 20px;
}

.login-submit:hover {
  background-color: #3b8e39;
}

.login-to-register {
  background-color: #0c5f09 !important;
  text-align: center;
  outline: none !important;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
  padding-right: 15px;
  padding-left: 15px;
}

.login-to-register:hover {
  background-color: #3b8e39 !important;
}

.nav-bar-links {
  float: right;
  margin-right: 50px;
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

.logout-btn {
  color: white;
}

.logout-btn:hover {
  text-decoration: none;
  color: rgb(243, 243, 243);
}

.my-payments {
  color: white;
  margin-right: 10px !important;
}

.my-payments:hover {
  text-decoration: none;
  color: rgb(243, 243, 243);
}

.register-login-btn {
  color: white;
}
.register-login-btn:hover {
  text-decoration: none;
  color: rgb(243, 243, 243);
}

.logo:hover {
  color: white;
  text-decoration: none;
}

.qr-square {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.qr-button {
  margin-top: 2%;
  /* width: 8%; */
  border: none;
  background-color: #4eb94b;
  outline: none !important;
  color: white;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

.qr-button:hover {
  background-color: #3b8e39;
}

.orderMore-btn {
  margin-top: 1.5%;
  margin-bottom: 2%;
  width: auto;
  border: none;
  outline: none !important;
  color: white;
  font-weight: bold;
  background-color: #4eb94b;
}

.orderMore-btn:hover {
  background-color: #3b8e39;
}

.menu-view {
  text-align: center;
  color: #494949;
  margin-top: 3%;
}

.home {
  color: #494949;
  font-weight: bold;
  margin-top: 1.2%;
  font-family: "Courier New", Courier, monospace;
}

.homeView {
  text-align: center;
}

.welcome {
  font-weight: bold;
  color: #494949;
  font-family: "Courier New", Courier, monospace;
}

.table-sign {
  font-size: 1.5em;
  font-weight: bold;
  color: #837e7e;
}

.menu-sign {
  font-size: 3em;
  font-weight: bold;

  color: #7b977a;
  font-style: italic;
  margin-bottom: 1.5%;
  font-family: "Courier New", Courier, monospace;
}

.item {
  border: thin solid;
  border-color: #ecedef;

  width: 40%;
  height: auto;
  margin-bottom: 2%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  outline: none !important;
}

.item-name {
  margin-left: 0.8%;
  margin-top: 0.8%;
  font-weight: bold;
  font-size: 1.2em;
  font-family: "Courier New", Courier, monospace;
  color: #494949;
}

.item-description {
  margin-left: 0.8%;
  margin-top: 0.9%;
  font-size: 0.9em;
  font-style: italic;
  color: #807e7e;
  font-family: "Courier New", Courier, monospace;
}

.item-price {
  font-weight: bold;
  margin-top: 0.9%;
  color: #6dc06b;
  font-family: "Courier New", Courier, monospace;
}

.place-order-btn {
  background-color: #4eb94b !important;
  width: auto;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
  outline: none !important;
  margin-top: 10px;
  margin-bottom: 20px;
}

.place-order-btn:hover {
  background-color: #3b8e39 !important;
}

.item:hover {
  background-color: #f9fafc;
}

.selected-item {
  border: thin solid;
  border-color: #ecedef;
  background-color: #f1f7ef;
  width: 40%;
  height: auto;
  margin-bottom: 2%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  outline: none !important;
}

.order-display {
  width: 40%;
  /* border: thin solid;
  border-color: #ecedef; */
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.myorder-sign {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #7b977a;
  font-style: italic;
}

.pay-btn {
  margin-top: 1.5%;
  margin-bottom: 2%;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  outline: none !important;
  color: white;
  font-weight: bold;
  background-color: #1b5f12;
  margin-left: 10px;
}

.pay-btn:hover {
  background-color: #3b8e39;
}

.order-display-item {
  display: inline-block;
}

.ordered-price {
  margin-left: 3%;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  font-weight: bold;
  color: #279923;
}

.ordered-name {
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: #494949;
}

.total {
  font-size: 2em;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: #494949;
}

.success {
  text-align: center;
  margin-top: 2%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.payment-success {
  font-size: 2.5em;
  color: #494949;
}

.see-you {
  font-size: 1.5em;
  color: #7b977a;
}

.payments-view {
  text-align: center;
  margin-top: 2%;
}

.payment-sign {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #494949;
  font-size: 2.5em;
  margin-bottom: 50px;
}

.payment-list {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #494949;
}

.pay-name {
  float: left;
}

.pay-total {
  float: right;
  margin-right: 15px;
}

.payment-item {
  border-bottom: solid;
  margin-top: 4%;
  padding-bottom: 7px;
  border-color: #4eb94b;
}

.pay-date {
  text-align: center;
}

.image {
  width: 400px;
  height: 250px;
  margin-top: 100px;
}

.images {
  margin-top: 50px;
}

.image2 {
  margin-left: 15px;
  margin-right: 15px;
}

.quote {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-top: 70px;
  font-size: 30px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
