body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-bar-login {
  background-color: #4eb94b;
  width: 100%;
  height: 50px;
  box-shadow: 0 0 5px #000;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 35px;
  margin-left: 50px;
}

.form {
  text-align: center;
  margin-top: 3%;
  display: block;
}

.loginTitle {
  color: #494949;
  margin-bottom: 2%;
}

.input {
  width: 19%;
  border: none;
  border-bottom: solid;
  border-color: #4eb94b;
  outline: none;
  margin-bottom: 0.8%;
}

.login-submit {
  background-color: #4eb94b;
  width: 7%;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
  outline: none;
}

.login-submit:hover {
  background-color: #3b8e39;
}

.login-to-register {
  background-color: #0c5f09 !important;
  text-align: center;
  outline: none !important;
}

.login-to-register:hover {
  background-color: #3b8e39 !important;
}

.nav-bar-links {
  float: right;
  margin-right: 50px;
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

.logout-btn {
  color: white;
}

.logout-btn:hover {
  text-decoration: none;
  color: rgb(243, 243, 243);
}

.my-payments {
  color: white;
  margin-right: 10px !important;
}

.my-payments:hover {
  text-decoration: none;
  color: rgb(243, 243, 243);
}

.register-login-btn {
  color: white;
}
.register-login-btn:hover {
  text-decoration: none;
  color: rgb(243, 243, 243);
}

.logo:hover {
  color: white;
  text-decoration: none;
}

.qr-square {
  width: 300px;
  height: 300px;
  text-align: center;
  margin-left: 40%;
}

.qr-button {
  margin-left: 45%;
  margin-top: 2%;
  width: 10%;
  border: none;
  background-color: #1eaa1a;
  outline: none !important;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 4px #000;
}

.qr-button:hover {
  background-color: #3b8e39;
}

.home-order-button {
  margin-left: 45%;
  margin-top: 2%;
  margin-bottom: 3%;
  width: 10%;
  border: none;
  outline: none !important;
  color: white;
  font-weight: bold;
  background-color: #1eaa1a;
  box-shadow: 0 0 4px #000;
}

.home-order-button:hover {
  background-color: #3b8e39;
}

.menu-view {
  text-align: center;
  color: #494949;
}
